.form-group {
   margin: 10px;
 }

 .lenderForm{
   display: flex;
   justify-content: flex-end;
 }

 .lenderForm:last-child {
   flex-wrap: wrap;
 }

.showQuotes {
  background-color: #143f3d;
  color: white;
}
