.form-group {
   margin: 10px;
 }

 .lenderForm{
   display: flex;
   justify-content: flex-end;
 }

 .lenderForm:last-child {
   flex-wrap: wrap;
 }

 .loanFormRow {
   justify-content: flex-end;
 }

 .quotesHeader {
   display: flex;
   flex-direction: row;
 }

 .quotesDiv {
   width: 75%;
   display: flex;
   justify-content: center;
 }

.showQuotes {
  background-color: #143f3d;
  color: white;
}
