.closingCost, .monthlyPay, .rate {
   width: 53px;
 }

.form-group {
   margin: 10px;
 }

 .lender {
    width: 124px;
  }

 .lenderForm{
   display: flex;
   justify-content: flex-end;
   margin-bottom: 30px;
 }

 .lenderForm:last-child {
   flex-wrap: wrap;
 }

 .loanFormRow {
   justify-content: flex-end;
 }

 .mortgageEstimator {
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .quotesDiv {
   border: 2px solid gray;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 75%;
   flex-wrap: wrap;
 }

 .quotesHeader {
   border-bottom: 2px solid gray;
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   justify-content: space-evenly;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
 }

 .quotesProperties {
    display: flex;
    border-bottom: 2px solid gray;
    flex-grow: 1;
    justify-content: space-evenly;
    color: #143f3d;
 }

.showQuotes {
  background-color: #143f3d;
  color: white;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;  /* ul takes full width of the div  */
}
